*
*.*

main
CMakeFiles/*
MakeFile

# files formats
!.gitignore
!*.cpp
!*.h
!*.hpp
!*.md
!*.pdf
!CMakeLists.txt
!CMakeLists.txt.in
!Doxyfile

# Dirs
!tests
!src
!lib

#Exceptions
!docs/header.tex
!docs/footer.tex
