*
*.*

main
CMakeFiles/*
MakeFile

# files formats
!.gitignore
!*.cpp
!*.c
!*.h
!*.hpp
!*.md
!*.pdf
!CMakeLists.txt
!CMakeLists.txt.in
!Doxyfile

!*/
gtest/*
googletest-src
googletest-download/*
CMakeFiles/*


# Dirs
!tasks/task_1/
!tasks/task_1/include/*
!tasks/task_1/src/*
!tasks/task_1/tests/*

!tasks/task_2/*
!tasks/task_2/include/*
!tasks/task_2/src/*

!utility/*
!utility/include/*
!utility/src/*

#Exceptions
!docs/header.tex
!docs/footer.tex
!data/onegin.txt
